*.gem
*.rbc
.bundle
.config
.ruby-version
.ruby-gemset
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
aws_credentials.yml
output_files/*
.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/
